html 
head
body
form(action='/searchquerry' method='get')

  //label(for='cars') Marke:
  //select#cars(name='marke')
    //option(value='Amy') Amy
    //option(value='2x2') 2x2
    //option(value='aeon') aeon
    //option(value='aladin') aladin
    //option(value='aryf hookah') aryf hookah

  label() Modell:
  input#fname(type='text' name='title')

  input(type='submit' value='Submit')


