doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  title Pfeifenvergleich
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Additional CSS Files
  link(rel='stylesheet' href='../assets/css/fontawesome.css')
  link(rel='stylesheet' href='../assets/css/templatemo-space-dynamic.css')
  link(rel='stylesheet' href='../assets/css/animated.css')
  link(rel='stylesheet' href='../assets/css/owl.css')
  //
    TemplateMo 562 Space Dynamic
    https://templatemo.com/tm-562-space-dynamic
    License: Space Dynamic Template is 100% free to download for anyone. You are allowed to download, edit and use this Space Dynamic HTML CSS layout for your commercial or non-commercial sites. Please share Space Dynamic Template to your friends. Thank you.
// ***** Preloader Start *****
#js-preloader.js-preloader
  .preloader-inner
    span.dot
    .dots
      span
      span
      span
// ***** Preloader End *****
// ***** Header Area Start *****
header.header-area.header-sticky.wow.slideInDown(data-wow-duration='0.75s' data-wow-delay='0s')
  .container
    .row
      .col-12
        nav.main-nav
          // ***** Logo Start *****
          a.logo(href='/')
            h4
              | pfeifen
              span vergleich
          // ***** Logo End *****
          // ***** Menu Start *****
          ul.nav
            li.scroll-to-section
              a.active(href='/#top') Suchen
            li.scroll-to-section
              a(href='/#about') Warum wir
            //li.scroll-to-section
              a(href='/#services') Services
            li.scroll-to-section
              a(href='/#services') Sortiment
            //li.scroll-to-section
              a(href='#blog') Blog
            li.scroll-to-section
              a(href='/#contact') Message Us
            li.scroll-to-section
              .main-red-button
                a(href='/#top') Vergleichen
          a.menu-trigger
            span Menu
          // ***** Menu End *****
// ***** Header Area End *****
#top.main-banner.wow.fadeIn(data-wow-duration='1s' data-wow-delay='0.5s')
  .container
    .row
      .col-lg-12
        .row
          .col-lg-6.align-self-center
            .left-content.header-text.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay='1s')
              h2
                | Keine Ergebnisse gefunden 
          
              p Verusche es mit ienem anderen Begriff nochmal
              form#search(action='/searchquerry' method='get')
                fieldset
                  input.email(type='address' name='title' placeholder='Model & Marke' required='')
                fieldset
                  button.main-button(type='submit') Suchen


//#portfolio.our-portfolio.section
  .container
    .row
      .col-lg-6.offset-lg-3
        .section-heading.wow.bounceIn(data-wow-duration='1s' data-wow-delay='0.2s')
          h2
            | See What Our Agency 
            em Offers
            |  &amp; What We 
            span Provide
    .row
      .col-lg-3.col-sm-6
        a(href='#')
          .item.wow.bounceInUp(data-wow-duration='1s' data-wow-delay='0.3s')
            .hidden-content
              h4 SEO Analysis
              p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
            .showed-content
              img(src='assets/images/portfolio-image.png' alt='')
      .col-lg-3.col-sm-6
        a(href='#')
          .item.wow.bounceInUp(data-wow-duration='1s' data-wow-delay='0.4s')
            .hidden-content
              h4 Website Reporting
              p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
            .showed-content
              img(src='assets/images/portfolio-image.png' alt='')
      .col-lg-3.col-sm-6
        a(href='#')
          .item.wow.bounceInUp(data-wow-duration='1s' data-wow-delay='0.5s')
            .hidden-content
              h4 Performance Tests
              p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
            .showed-content
              img(src='assets/images/portfolio-image.png' alt='')
      .col-lg-3.col-sm-6
        a(href='#')
          .item.wow.bounceInUp(data-wow-duration='1s' data-wow-delay='0.6s')
            .hidden-content
              h4 Data Analysis
              p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
            .showed-content
              img(src='assets/images/portfolio-image.png' alt='')
//#blog.our-blog.section
  .container
    .row
      .col-lg-6.wow.fadeInDown(data-wow-duration='1s' data-wow-delay='0.25s')
        .section-heading
          h2
            | Check Out What Is 
            em Trending
            |  In Our Latest 
            span News
      .col-lg-6.wow.fadeInDown(data-wow-duration='1s' data-wow-delay='0.25s')
        .top-dec
          img(src='assets/images/blog-dec.png' alt='')
    .row
      .col-lg-6.wow.fadeInUp(data-wow-duration='1s' data-wow-delay='0.25s')
        .left-image
          a(href='#')
            img(src='assets/images/big-blog-thumb.jpg' alt='Workspace Desktop')
          .info
            .inner-content
              ul
                li
                  i.fa.fa-calendar
                  |  24 Mar 2021
                li
                  i.fa.fa-users
                  |  TemplateMo
                li
                  i.fa.fa-folder
                  |  Branding
              a(href='#')
                h4 SEO Agency &amp; Digital Marketing
              p
                | Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...
              .main-blue-button
                a(href='#') Discover More
      .col-lg-6.wow.fadeInUp(data-wow-duration='1s' data-wow-delay='0.25s')
        .right-list
          ul
            li
              .left-content.align-self-center
                span
                  i.fa.fa-calendar
                  |  18 Mar 2021
                a(href='#')
                  h4 New Websites &amp; Backlinks
                p Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...
              .right-image
                a(href='#')
                  img(src='assets/images/blog-thumb-01.jpg' alt='')
            li
              .left-content.align-self-center
                span
                  i.fa.fa-calendar
                  |  14 Mar 2021
                a(href='#')
                  h4 SEO Analysis &amp; Content Ideas
                p Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...
              .right-image
                a(href='#')
                  img(src='assets/images/blog-thumb-01.jpg' alt='')
            li
              .left-content.align-self-center
                span
                  i.fa.fa-calendar
                  |  06 Mar 2021
                a(href='#')
                  h4 SEO Tips &amp; Digital Marketing
                p Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...
              .right-image
                a(href='#')
                  img(src='assets/images/blog-thumb-01.jpg' alt='')
#contact.contact-us.section
  .container
    .row
      .col-lg-6.align-self-center.wow.fadeInLeft(data-wow-duration='0.5s' data-wow-delay='0.25s')
        .section-heading
          h2 Feel Free To Send Us a Message 
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores
          .phone-info
            h4
              | For any enquiry, Write Us: 
              span
                a(href='#') appslosion.help@gmail.com
      .col-lg-6.wow.fadeInRight(data-wow-duration='0.5s' data-wow-delay='0.25s')
        form#contact(action='' method='post')
          .row
            .col-lg-6
              fieldset
                input#name(type='name' name='name' placeholder='Name' autocomplete='on' required='')
            .col-lg-6
              fieldset
                input#surname(type='surname' name='surname' placeholder='Surname' autocomplete='on' required='')
            .col-lg-12
              fieldset
                input#email(type='text' name='email' pattern='[^ @]*@[^ @]*' placeholder='Your Email' required='')
            .col-lg-12
              fieldset
                textarea#message.form-control(name='message' type='text' placeholder='Message' required='')
            .col-lg-12
              fieldset
                button#form-submit.main-button( onclick="myFunction()") Send Message
          .contact-dec
            img(src='assets/images/contact-decoration.png' alt='')
footer
  .container
    .row
      .col-lg-12.wow.fadeIn(data-wow-duration='1s' data-wow-delay='0.25s')
        //p
          | &copy; Copyright 2021 Space Dynamic Co. All Rights Reserved. 
          br
          | Design: 
          a(rel='nofollow' href='https://templatemo.com') TemplateMo
        p
          a(href=" https://homepage-appsplosion.herokuapp.com/privacypolicy") Data Privacy
          br

// Scripts
script.

  function myFunction() {
    alert("Please write directly to our email. Thanks.");
  }

script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/js/owl-carousel.js')
script(src='assets/js/animation.js')
script(src='assets/js/imagesloaded.js')
script(src='assets/js/templatemo-custom.js')
